# Dictionary

In [19]:
pelanggan = {
    "nama" : "farhan",
    "umur" : 21
}

pelanggan_2 ={"nama": "andi", "umur" : 18}

print("Nama: {}".format(pelanggan["nama"]))
print("Umur: {}".format(pelanggan["umur"]))

Nama: farhan
Umur: 21

In [16]:
print("Nama: {}".format(pelanggan_2["nama"]))
print("Umur: {}".format(pelanggan_2["umur"]))

Nama: andi
Umur: 18

In [17]:
print("Nama: {}".format(pelanggan))

Nama: {'nama': 'farhan', 'umur': 21}

In [18]:
print(pelanggan)

{'nama': 'farhan', 'umur': 21}

In [ ]:
# mengganti nilai di dalam dictionary

In [20]:
pelanggan ["umur"] = 22
print(pelanggan)

{'nama': 'farhan', 'umur': 22}

In [21]:
print("Nama: {}".format(pelanggan["nama"]))
print("Umur: {}".format(pelanggan["umur"]))

Nama: farhan
Umur: 22

In [ ]:
# loop dictionary

In [24]:
for x in pelanggan:
    print (x)
    print(pelanggan [x])
    print(pelanggan_2[x])

nama
farhan
andi
umur
22
18

In [26]:
# List Dictionary

daftar_pelanggan = []
daftar_pelanggan.append(pelanggan)
daftar_pelanggan.append(pelanggan_2)

for i in daftar_pelanggan:
    print("Nama: {}".format(i["nama"]))
    print("Umur: {}".format(i["umur"]))

Nama: andi
Umur: 18
Nama: andi
Umur: 18

In [ ]:
# menghapus nilai di dalam dictionary

In [35]:
#delete

data = {"Nama": "Zara", "Umur": 25, "Kelas":"Lima"}
data.clear() #menghapus semua entri di dalam dictionary
print(data)

{}

In [36]:
data = {"Nama": "Zara", "Umur": 25, "Kelas":"Lima"}
del data ["Nama"] #hapus entri di dalam dictionary dengan key "Nama"
print(data)

{'Umur': 25, 'Kelas': 'Lima'}

In [37]:
data = {"Nama": "Zara", "Umur": 25, "Kelas":"Lima"}
del data ["Zara"]
print(data)

KeyError: 'Zara'

In [38]:
data = {"Nama": "Zara", "Umur": 25, "Kelas":"Lima"}
del data
print(data)

NameError: name 'data' is not defined

In [39]:
data = {"Nama": "Zara", "Umur": 25, "Kelas":"Lima"}
print(data)

{'Nama': 'Zara', 'Umur': 25, 'Kelas': 'Lima'}

In [43]:
data = {"Nama": "Zara", "Umur": 25, "Kelas":"Lima"}
print("dictionary [Nama]:", data["Nama"])
print("dictionary [Kelas]:", data["Kelas"])

dictionary [Nama]: Zara
dictionary [Kelas]: Lima

# Function

In [46]:
def coba_function():
    print("Hallo ini hanya coba function")
    print("ini adalah function")
    print("ini percobaan pertama")

coba_function()

Hallo ini hanya coba function
ini adalah function
ini percobaan pertama

In [49]:
def my_function (first_name, last_name=" "):
    print("Hallo {} - {}".format(first_name,last_name))

my_function("Adi","Wijaya")
my_function("Andi","Yusuf")
my_function("Budi")

Hallo Adi - Wijaya
Hallo Andi - Yusuf
Hallo Budi -

In [50]:
def my_function (first_name, last_name):
    print("Hallo {} - {}".format(first_name,last_name))

my_function("Budi")

TypeError: my_function() missing 1 required positional argument: 'last_name'

In [51]:
def my_function (first_name=" ", last_name=" "):
    print("Hallo {} - {}".format(first_name,last_name))

my_function()

Hallo   -

In [ ]:
# function keywords

In [53]:
def my_function2(anak_ke3, anak_ke2, anak_ke1):
    print("Anak yang paling kecil adalah", anak_ke3)

my_function2(anak_ke1 = "Adi", anak_ke2 = "Budi", anak_ke3 = "Lusi")
my_function2("Adi", "Budi", "Lusi")

Anak yang paling kecil adalah Lusi
Anak yang paling kecil adalah Adi

In [ ]:
# contoh function

In [59]:
nama_buah = []

def tambah_nama_buah (nama):
    nama_buah.append(nama)
    print_nama_buah()

def print_nama_buah():
    for y in nama_buah:
        print(y)
    print("------")

tambah_nama_buah("jeruk")
tambah_nama_buah("apel")
tambah_nama_buah("melon")
tambah_nama_buah("pisang")

jeruk
------
jeruk
apel
------
jeruk
apel
melon
------
jeruk
apel
melon
pisang
------

In [ ]:
# return

In [67]:
def total(x,y):
    total = x + y
    return total

total (5,2)

7

In [68]:
def total(x,y):
    total = x + y
    return total

jumlah = total (5,2)
print(jumlah)

7

In [69]:
def total(x,y):
    total = x + y
    return 10

total (5,2)

10

In [63]:
def total(x,y):
    total = x + y
    return total

def total_buah_sisa():
    return 20

jumlah = total (5,2)
print(jumlah)

7

In [73]:
def total(x,y):
    total = x + y
    return total

def total_buah_sisa():
    return 20

jumlah = total (5,2)
print(jumlah)

total_buah = len(nama_buah) + total_buah_sisa ()
print(total_buah)
nama_buah

7
24

['jeruk', 'apel', 'melon', 'pisang']

In [ ]:
# contoh

In [77]:
def luas_persegi (sisi):
    luas = sisi * sisi
    return luas

def volume (sisi):
    volume = luas_persegi (sisi) * sisi
    return volume

luas_persegi (2)

4

In [78]:
def luas_persegi (sisi):
    luas = sisi * sisi
    return luas

def volume (sisi):
    volume = luas_persegi (sisi) * sisi
    return volume

luas_persegi (2)
volume (3)

27

In [92]:
def luas_persegi (sisi):
    luas = sisi * sisi
    return luas

def volume (sisi):
    volume = luas_persegi (sisi) * sisi
    return volume

luas_persegi (2)
volume (3)

27